Demo/Benchmark/bin/
Demo/Benchmark/obj/
Demo/Currencies/bin/
Demo/Currencies/obj/
Demo/ProjectileRange/bin/
Demo/ProjectileRange/obj/
Demo/UnitsOfMeasurement/bin/
Demo/UnitsOfMeasurement/obj/
Demo/UnitsOfMeasurement.Test/bin/
Demo/UnitsOfMeasurement.Test/obj/

VisualStudioExtension/Parser/bin/
VisualStudioExtension/Parser/obj/
VisualStudioExtension/Parser/keyfile.pfx
VisualStudioExtension/ProjectTemplate/bin/
VisualStudioExtension/ProjectTemplate/obj/
VisualStudioExtension/VSIX/bin/
VisualStudioExtension/VSIX/obj/
VisualStudioExtension/VSIXExpress/bin/
VisualStudioExtension/VSIXExpress/obj/

TestResults/

*.suo
TODO.txt

